@page

<h1>About</h1>
<p>Welcome to Narayana Engineering College</p>
<p>Narayana Educational Institutions are one of the best educational providers in India from the primary to professional postgraduation</p>